@import "tailwindcss";
@theme {
  --color-backgroud: #15191e;
  --color-main: #13191c;
  --color-sidebar: #0f151a;
  --color-stroke: #302d33;
  --text-color-base: #ffffff;
  --text-color-subtext: #bbbbc3;
  --font-display: "Rubik", "sans-serif";
}

.method-shadow {
  box-shadow: 0px 1px 0px rgba(252, 236, 255, 0.349);
}

.shadow-custom {
  box-shadow: -5px -10px 100px 60px rgba(12, 14, 15, 0.8);
}

/* Para navegadores basados en Webkit (Chrome, Edge, Safari) */
.scroll-bar-custom::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra */
}

.scroll-bar-custom::-webkit-scrollbar-thumb {
  background: #302d33; /* Color del scroll */
  border-radius: 4px;
}

.scroll-bar-custom::-webkit-scrollbar-thumb:hover {
  background: #bbbbc3; /* Color al pasar el mouse */
}
